$bgColor: #092B5A;

body {
    background:$bgColor;
    padding:0;
    margin:0;
    font-weight: bold;
    overflow:hidden;
}

#game {
    margin:20px auto 40px;
    border:10px solid lighten( $bgColor, 10% );
}
a { color: #ffffff; }
